{% extends 'base.html' %}

{% block title %}Página de inicio{% endblock %}

{% block content %}
    <h2>Bienvenido a la base de datos de poesía</h2>
    <p>El sitio se encuentra en desarrollo, por lo que algunas funcionalidades son limitadas.</p>
    <p>Puede acceder a las siguientes funcionalidades mediante los siguientes links:</p>
    <p>1. <a href="/crear_usuario/">Crear un usuario</a> para asignar a sus posts y comentarios.</p>
    <p>2. <a href="/crear_post/">Crear un post.</a></p>
    <p>3. <a href="/comentar/">Comentar un post.</a></p>
    <p>4. <a href="/buscarporcontribuyente/">Buscar posts por contribuyente.</a></p>
    <p>5. <a href="/buscarcomentarioporautor/">Buscar comentarios por autor.</a></p>
    <p>6. <a href="vercomentariosenpost/">Ver todos los comentarios de un post.</a></p>
{% endblock %}