{% extends 'base.html' %}

{% block title %}Resultados de búsqueda{% endblock %}

{% block content %}
    <h1>Resultados de Búsqueda por contribuyente del Post</h1>
    <p>Posts del usuario: {{ contribuyente }}</p>
    {% for post in posts %}
        <h3>{{ post.titulo }}</h3>
        <p>Publicación: {{ post.fecha }}</p>
        <p>Etiqueta: {{ post.etiqueta }}</p>
        <p>{{ post.texto|linebreaksbr }}</p>
        <hr>
    {% empty %}
        <p>No se encontraron resultados.</p>
    {% endfor %}

{% endblock %}
